# Ei valmista exeä repoon
*.exe

# ...paitsi CBRC.exe ja Rar.exe, jotka vaaditaan mediaa varten.
!media/CBRC.exe
!media/Rar.exe

# ...sekä modattu CBCompiler.exe, jota tarvitaan koodin kääntöön.
!/CBCompiler.exe

# Pikakuvakkeet pois
*.lnk

# Notepad++:n varmuuskopiotiedostoja ei repoon
*.bak
nppBackup

# Ei tartte servulogeja pistää repoon myöskää testailujen jäljilt :p
serverlog.txt

# Jätetää jokasen omaks valinnaks, millaset configit tekee :P
NetMatch.cfg

# cbResourcella täytyy itse compilata NetMatch.dat filu. Säästetään repon tilaa.
NetMatch.dat

# Jätetään CBRC.exen luoma cbrs.reg filu pois, ja väliaikaiset .pxi tiedostot myös
cbrs.reg
*.pxi

# Jätetään bannilistat pois
ipban.txt

# Ei oteta myöskään debug-loggeja mukaan.
debug.txt

# Perhanan Windows
Thumbs.db

######
## Mitä laitetaan ignoreen webbikansiosta
######

# Ei laiteta downloadsia tai mapseja mukaan repoon.
www/downloads
www/maps

# Ei laiteta myöskään info.txt tiedostoja mukaan.
www/reg/info.txt
www/reg/oldinfos